@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: #404040;
}

a {
  text-decoration: none;
  color: inherit;
}
.container{
  margin-top: 30px;
}
.a-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.botao {
	margin: 0;
	margin-bottom: 8px;
}

.card-body {
  cursor:default;
  width: 49ch;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 32ch;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #eee;

}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.card-footer {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card img {
  width: 164px;
  margin: 0 auto;
  margin-top: 16px;
}

.card-group {
  margin: 24ch auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.card-footer h4 {
  padding-bottom: 16px;
  border-bottom: .1px groove rgba(0,0,0,0.2);
}

p {
  margin: 24px 0;
}